<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Community Portal</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="logo">Community Portal</div>
    <nav class = "navbar1">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/events">Events</a>
      <a href="/contact">Contact Us</a>
  </nav>
  </header>
  <main>