<%- include('../partials/header') %>

<div class = "full-page">
  <div class = "contact-container">
    <div class = "contact-container-inner">
      <h1>Contact Us</h1>

      <form method="post" action="/contact">
        <input type="text" name="name" placeholder="Your Full Name" pattern="[A-Za-z]+(?:[ \-][A-Za-z]+)*" title="Letters, spaces or dashes only" required autofocus><br>
        <input type="email" name="email" placeholder="Your Email" required><br>
        <input type="number" name="phone" placeholder="Your Phone Number" required><br>
        <input type="text" name="subject" placeholder="Subject" required><br>
        <textarea name="message" placeholder="Your Message" required></textarea><br>

        <button class="toggle-btn-send" type="submit">Send</button>
      </form>
    </div>
  </div>

  <div class="contact-info">
    <div class="contact-info-inner">
      <h2>Contact Information</h2>
      <p>If you have any questions or need further assistance, feel free to reach out to us personally:</p>
      <p>Email: thecommunitythatstrives@gmail.com</p>
      <p>Phone: +27 (123) 456-7890</p>
      <p>Address: 45A Long St, Kempton Park Cbd, Kempton Park, 1619</p>
    </div>

    <h2>You Can Find Us Here ⬇</h2>
    <div class="map-container">
      <iframe src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=45A Long St, Kempton Park Cbd, Kempton Park, 1619&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border: 0;" allowfullscreen="" loading = "lazy" width="600" height="450"></iframe>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
