<%- include('../partials/header') %>

<div class = "contact-container">
  <h1>Contact Us</h1>
  <form method="POST" action="/contact">
  <input type="text" name="name" placeholder="Your Name" required /><br />
  <input type="email" name="email" placeholder="Your Email" required /><br />
  <textarea name="message" placeholder="Your Message" required></textarea><br />
  <button class = "toggle-btn" type="submit">Send</button>
  </form>
</div>

<%- include('../partials/footer') %>