<%- include('../partials/header') %>

<div class = "thankyou-container">
    <h1>Thank</h1>
    <h1>You</h1>
    <p>Your message just showed up in our inbox <%= name %>.</p>
    <p>We will contact you soon on <%= email %></p>
    <p>In the meantime, feel free to explore our community portal.</p>
    <button class = "toggle-btn"><a href="/">Go to Home</a></button>
</div>

<%- include('../partials/footer') %>